.quotes {
    --space-rad: 2rem;

    // li {
    //     max-width: 25rem;
    // }
    blockquote {
        
        background: var(--color-primary-700);
        color: var(--color-neutral-200);
        text-align: left;
        border-radius: var(--border-radius);
        padding: 2rem;
        max-width: 25rem;
        margin: 0 auto;
    }

    img {
        width: 3rem;
        border-radius: 50%;
        margin-right: var(--space-rad);
    }

    &__name {
        font-weight: 800;
    }

    &__stat {
        color: var(--color-primary-300);
    }

    &__q {
        margin-top: var(--space-rad);
    }
}