.quotes {
    --space-rad: 2rem;

    li {
        &:nth-child(2) {
            transform: translateY(3rem);
        }

        &:nth-child(3) {
            transform: translateY(6rem);
        }
    }
    blockquote {
        
        background: var(--color-primary-700);
        color: var(--color-neutral-200);
        text-align: left;
        border-radius: var(--border-radius);
        padding: var(--space-rad);
        max-width: 25rem;
        margin: 0 auto;
        height: 100%;

    }

    img {
        width: 3rem;
        border-radius: 50%;
        @media(min-width: 50em) {
            margin-right: var(--space-rad);
        }
        
    }

    &__name {
        font-weight: 800;
    }

    &__stat {
        color: var(--color-primary-300);
    }

    &__q {
        margin-top: var(--space-rad);
        
    }
}