.ratings {
    line-height: 1;
     li {
        color: var(--color-primary-700);
        background: var(--color-neutral-200);
        font-weight: 800;
        padding: .75rem 2rem;
        border-radius: var(--border-radius);
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 50em) {
            display: flex;
            align-items: center;

            &::before {
                margin: 0 1.5rem 0 0;
            }

            &:first-of-type {
                transform: translateX(-3rem);
            }

            &:last-of-type {
                transform: translateX(3rem);
            }
        }
    }

    img {
        //display: inline-block;
        margin: 0 .5rem .5rem;

        @media (min-width: 50em) {
            margin: .5rem;
            margin: -.25rem .5rem 0 0;
        }
    }

}

.stars {
    display: flex;
    justify-content: center;
}